
.calculatorButton {

    -fx-background-color: lightsteelblue;
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    -fx-background-insets: 3;
    -fx-font-size: 14;
}

.calculatorButton:hover {
    -fx-cursor: hand;
    -fx-background-color: lightgrey;
}

#inputField {
    -fx-background-color: white;
}

#outputField {
    -fx-background-color: white;
}
